body{
    text-align: center;
    background-color:rgba(211, 183, 253, 0.71);
}
/* @media screen and (max-width:1200px) {
    body{
        background-color: rgba(199, 141, 253, 0.71);
    }
}
@media screen and (min-width:800px) and (max-width:1000px){
    body{
        background-color: rgba(139, 90, 255, 0.71) ;
    }
 
} */
@media screen and (max-height:500px){
    body{
        font-size: xx-small;
    }
}
/* @media screen and (min-width:500px) and (max-width:650px) and (min-height:650px) and (max-height:750px){
    body{
        background:linear-gradient(rgba(212, 255, 237, 0.812), rgba(165, 219, 255, 0.805),rgb(224, 163, 255), rgb(255, 181, 246))
    }
} */
@media screen and (min-width:650px) and (max-width:800px) and (min-height:400px) and (max-height:650px){
    body{
        background:linear-gradient(red, orange, yellow, green, blue, rgb(149, 0, 255),violet)
    }
}
img{
    width: 400px;
    height: 600px;
}

@media screen and (min-width:600px) and (max-width:850px) and (min-height:500px) and (max-height:700px){
    img{
        width: 200px;
        height: 300px;

    }
}

